<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>              
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17861321?query=java%20Odessa">Senior Java Developer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17924692?query=java%20Odessa">Senior Java Web Server Engineer (Bulgaria)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17916017?query=java%20Odessa">Java Developer for Team Online</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16843720?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17687063?query=java%20Odessa">Build Integration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730511?query=java%20Odessa">Business Analyst</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17903610?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО QROK</td> 
     <td class="salary">от 44&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730473?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17730427?query=java%20Odessa">Java Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17722199?query=java%20Odessa">Java / Web Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">UDCSoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17652990?query=java%20Odessa">Front-End / UI Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">PLS Logistics Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17590162?query=java%20Odessa">Python developer/ Data engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ConcilioLabs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>